.wrapper {
    text-align: center;
    height: 100vh;
}

#headerBar {
    display: flex;
    margin-left: 2%;
    margin-top: 2%;
}

/*.headerbar>.subject */
.subject {
    margin: 0 auto;
}

.logo>img {
    width: 50px;
    height: 50px;
}

.d-flex {
    display: block;
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: #dad7d7;
}

footer>.footercontent {
    display: flex;
    width: 100%;
    justify-content: flex-end;

}

footer>.footercontent>div {
    margin-right: 5%;
}

#daynight {
        margin-top: 20px;
    }
.intromyself {
    width: 50%;
}

btn>.btn-outline-success {
    width: 50px;
}

#info {
    display: block;
    margin-bottom: 30px;
}

.section {
    margin-bottom: 60px;
}

.onerow {
    display: block;
    margin-bottom: 15px;
}

.checkbtn {
    background-color: red;
    color: white;
}

#searchbooktitle {
    display: block;
    margin-bottom: 30px;
}

.d-flex2 {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 50px;
}

.img {
    width: 120px;
    height: 150px;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

.checkoutOX {
    border: 1px solid gray;
    margin-left: 30px;
}

.bookcontent {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border: 1px solid gray;
    justify-content: center;
    text-align: left;
}

.ico {
    margin-left: 5px;
}

#_searchListChk {
    margin-top: 50px;
}

caption {
    display: none;
}

.dataLoanTable {
    display: flex;
    border: 2px solid black;
    margin-top: 30px;
    overflow-x: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#tab{
    margin-top: 50px;
}