.wrapper {
    text-align: center;
    height: 100vh;
}

#headerBar {
    display: flex;
    margin-left: 2%;
    margin-top: 2%;
}

/*.headerbar>.subject */
.subject {
    margin: 0 auto;
}


.logo>img {
    width: 50px;
    height: 50px;
}

.d-flex {
    display: block;
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: #dad7d7;
}


footer>.footercontent {
    display: flex;
    width: 100%;
    justify-content: flex-end;

}

footer>.footercontent>div {
    margin-right: 5%;
}

.intromyself {
    width: 50%;
}

btn>.btn-outline-success {
    width: 50px;
}